.container .e-tabs{
   font-size: 16px;
}

.container .e-tabs .title-cate{
   font-size: 20px;
   color: #999;
}

.container .cart{
   width: 100%;
   
    align-items: center;
    justify-content: space-around;
}

.container {
   display: block;
}







