.content .orders .titile h4 {
   font-size: 1rem;
}

.content .orders .div-item{
   margin-bottom: 20px;
}

.content .orders{
   width: 70%;
   margin: 0 auto;
}


.content .orders .infoBuyer .card .card-body .h5, h5 {
   font-size: 17px;
} 

@media only screen and  (max-width: 845px) {
   .content {
      width: 100%;
   }
} 
